.navbar-container{
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-container-image{
    height: 25%;
    width: 25%;
    min-width: 10%;
    transition: all .4s;
}

.navbar-container-image:hover{
    height: 25.5%;
    width: 25.5%;
}

.navbar-container-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar-container-list-element-icon{
    margin-top: 5px;
    font-size: 30px;
    color: white;
    transition: all .4s;
}

.navbar-container-list-element-container{
    background-color: #ca3338;
    border-radius: .5rem;
    width: 17%;
    height: 70px;
    cursor: pointer;
    transition: all .4s;
}

.navbar-container-list-element-link{
    text-decoration: none;
    transition: all .4s;
    color: white;
}

.navbar-container-list-element-container:hover{
    background-color: #e0383d;
    font-weight: bold;
}

.navbar-container-list-element-icon:hover{
    font-weight: bold;
}

.navbar-container-list-element-container:hover .navbar-container-list-element-link{
    opacity: 0;
}

.navbar-container-list-element-container:hover .navbar-container-list-element-icon{
    margin-top: 8%;
    font-size: 50px;
}