@media screen and (min-width:768px){

    .navbar-container{
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .navbar-icon{
        display: none;
    }

    .navbar-container-image{
        height: 25%;
        width: 25%;
        min-width: 10%;
        transition: all .4s;
    }

    .navbar-container-image:hover{
        height: 25.5%;
        width: 25.5%;
    }

    .navbar-container-list{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
    }

    .navbar-container-list-element-icon{
        margin-top: 4px;
        font-size: 30px;
        color: white;
        transition: all .4s;
    }

    .navbar-container-list-element-container{
        background-color: #ca3338;
        border-radius: .5rem;
        width: 7rem;
        height: 70px;
        cursor: pointer;
        transition: all .4s;
        padding: .5rem 0 .5rem 0;
    }

    .navbar-container-list-element-link{
        text-decoration: none;
        transition: all .4s;
        color: white;
    }

    .navbar-container-list-element-container:hover{
        background-color: #e0383d;
        font-weight: bold;
    }

    .navbar-container-list-element-icon:hover{
        font-weight: bold;
    }

    .navbar-container-list-element-container:hover .navbar-container-list-element-link{
        opacity: 0;
    }

    .navbar-container-list-element-container:hover .navbar-container-list-element-icon{
        margin-top: .6rem;
        font-size: 50px;
    }

    .navbar-icon-checkbox{
        display: none;
    }

}

@media screen and (max-width:767px){

    .navbar-container{
        display: flex;
        padding-top: 1rem;
    }

    .navbar-icon{
        font-size: 35px;
        color: #ca3338;
        cursor: pointer;
        position: absolute;
        margin-top: 35px;
        margin-left: 65%;
        z-index: 2;
        transition: all 0.4s;
    }

    .navbar-icon:hover{
        color: #e0383d;
    }

    .navbar-icon-checkbox{
        display: none;
    }

    .navbar-icon-checkbox:checked + .navbar-container-list{
        display: block;
        transform: translateY(0);
    }

    .navbar-container-image{
        width: 5rem;
        height: 5rem;
        transition: all 0.4s;
        margin: 3.33% 0 0 40%;
    }

    .navbar-container-list{
        text-align: center;
        position: fixed;
        list-style: none;
        padding: 0;
        z-index: 1;
        background-color: #039fe4;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding-top: 5rem;
        transform: translateY(-100%);
        display: none;
        transition: all 0.4s;
    }

    .navbar-container-list-element-icon{
        margin-top: 4px;
        font-size: 30px;
        color: white;
        transition: all .4s;
  
    }

    .navbar-container-list-element-container{
        cursor: pointer;
        transition: all .4s;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .navbar-container-list-element-link{
        text-decoration: none;
        transition: all .4s;
        color: white;
        font-size: 30px;
        
    }

    .navbar-container-list-element-container:hover{
        background-color: #e0383d;
        font-weight: bold;
    }

    .navbar-container-list-element-icon:hover{
        font-weight: bold;
    }

    .navbar-container-list-element-container:hover .navbar-container-list-element-link{
        opacity: 1;
    }

    .navbar-container-list-element-container:hover .navbar-container-list-element-icon{
        margin-top: .6rem;
        font-size: 50px;
    }

}