@media screen and (min-width:768px){

    .informacion-container-title{
        text-align: center;
        font-weight: bold;
        font-size: 60px;
        color: #ca3338;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    .informacion-container-carrusel{
        z-index: -2;
        margin-top: 5rem;
        text-align: center;
        background-color: #039fe4;
        display: flex;
        justify-content: center;
        height: 30rem;
        overflow: hidden;
    }

    .informacion-container-carrusel-imagen{
        max-height: 30rem;
        animation: fadeIn 4s;
    }

    .informacion-container-niveles{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 5% 0 5%;
    }

    .informacion-motion-container{
        width:fit-content;
        margin: 0;
        padding: 0;
        left: 0;
        top: 50%;
        background-color: red
    }

    .informacion-container-matricula{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        background-image: url("https://images.pexels.com/photos/8612987/pexels-photo-8612987.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-position: center;
        margin-top: 5rem;
    }

    .informacion-container-content-text{
        font-size: 40px;
        font-weight: bold;
        background-color: #ca3338;
        color: white;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;
    }

    .informacion-container-content-button{
        background-color: #ca3338;
        color: white;
        padding: 1rem;
        border-radius: 1rem;
        width: 20%;
        margin-left: 33%;
        transition: all 0.4s;
        text-align: center;
    }

    .informacion-container-content-button:hover{
        background-color: #e0383d;
        cursor: pointer;
    }

    .informacion-container-content-button-icon{
        color: white;
        font-size: 30px;
        transition: all 0.4s;
    }

    .informacion-container-content-button-link{
        cursor: auto;
    }

    .informacion-container-contacto{
        display: flex;
        margin-top: 5%;
        background-color: rgb(15, 182, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .informacion-container-contacto-informacion{
        display: flex;
        justify-content: center;
        width: 40%;
        display: flex;
        margin-left: 5%;
    }

    .informacion-container-contacto-informacion-line{
        color: white;
        width: fit-content;
        height: fit-content;
        display: flex;

    }

    .informacion-container-contacto-informacion-icon-location{
        font-size: 30px;
    }

    .informacion-container-contacto-informacion-icon-number{
        font-size: 30px;
    }

    .informacion-container-contacto-informacion-text{
        margin: 1rem 0 0 0;
        padding: 0;
    }

    .informacion-container-contacto-informacion-icons{
        font-size: 30px;
        color: white;
    }

    .informacion-container-contacto-informacion-icons *{
        margin-right: 1rem;
        transition: all 0.2s;
    }

    .informacion-container-contacto-informacion-icons *:hover{
        color: rgb(226, 226, 226);
        cursor: pointer;
    }

    .informacion-container-contacto *{
        display: block;
    }

    .informacion-container-contacto-form{
        width: 60%;
    }

    .informacion-container-contacto-form *{
        text-align: center;
        padding: 0 1rem 0 1rem;
        font-family: 'Poppins', sans-serif;
        border: none;
        margin: auto;
        height: 3rem;
        background-color: white;
        border-radius: .8rem;
        color: #ca3338;
    }

    .informacion-container-contacto-form *::placeholder{
        color: #ca3338;
        opacity: 0.7;
    }

    .informacion-container-contacto-form *:not(button) {
        text-align: center;
        width: 70%;
        height: 4rem;
        transition: all 0.4s;
    }

    .informacion-container-contacto-form *:not(.informacion-container-contacto-form-text):hover {
        background-color: rgb(226, 226, 226);
    }

    .informacion-container-contacto-form button{
        cursor: pointer;
        width: 40%;
        transition: all 0.4s;
    }

    .informacion-container-contacto-informacion-icons{
        display: flex;
    }

    .informacion-text{
        color: white;
    }

    .informacion-container-contacto-form-text{
        background-color: rgba(15, 182, 0, 0);
        margin-top: 15px;
    }


}

@media screen and (max-width:767px){

    .informacion-container-title{
        text-align: center;
        font-weight: bold;
        font-size: 60px;
        color: #ca3338;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    .informacion-container-contacto-informacion-icons{
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;
        margin-left: 25px;
    }

    .informacion-container-carrusel{
        z-index: -2;
        margin-top: 5rem;
        text-align: center;
        background-color: #039fe4;
        display: flex;
        justify-content: center;
        height: 30rem;
        overflow: hidden;
    }

    .informacion-container-carrusel-imagen{
        max-height: 30rem;
        animation: fadeIn 4s;
    }

    .informacion-container-niveles{
        flex-direction: column;
        justify-content: center;
        margin: 0 8% 0 5%;
    }

    .informacion-motion-container{

        width:fit-content;
        margin: 0;
        padding: 0;
        left: 0;
        top: 50%;
        background-color: red
    }

    .informacion-container-matricula{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        background-image: url("https://images.pexels.com/photos/8612987/pexels-photo-8612987.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-position: center;
        margin-top: 5rem;
    }

    .informacion-container-content-text{
        font-size: 40px;
        font-weight: bold;
        background-color: #ca3338;
        color: white;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;
    }

    .informacion-container-content-button{
        background-color: #ca3338;
        color: white;
        padding: 1rem;
        border-radius: 1rem;
        width: 20%;
        margin-left: 33%;
        transition: all 0.4s;
        text-align: center;
    }

    .informacion-container-content-button:hover{
        background-color: #e0383d;
        cursor: pointer;
    }

    .informacion-container-content-button-icon{
        color: white;
        font-size: 30px;
        transition: all 0.4s;
    }

    .informacion-container-content-button-link{
        cursor: auto;
    }

    .informacion-container-contacto{
        text-align: center;
        margin-top: 5%;
        background-color: rgb(15, 182, 0);
        justify-content: center;
        align-items: center;
        height: 800px;
        padding-top: 10%;
        padding-bottom: 15%;
    }

    .informacion-container-contacto-informacion{
        display: flex;
        justify-content: center;
        display: flex;
        padding: 0 5% 0 5%;
    }

    .informacion-container-contacto-informacion-line{
        width: 100%;
        text-align: center;
        color: white;
    }

    .informacion-container-contacto-informacion-icon-location{
        font-size: 30px;
        width: 100%;
    }

    .aaa{
        justify-content: center;
        padding-left: 48%;
        margin-bottom: 3rem;
        display: flex;

    }

    .informacion-container-contacto-informacion-icon-number{
        font-size: 30px;
        width: 100%;
    }

    .informacion-container-contacto-informacion-text{
        margin: 1rem 0 0 0;
        padding: 0;
        text-align: center;
    }

    .informacion-container-contacto-informacion-icons{
        font-size: 30px;
        color: white;
    }

    .informacion-container-contacto-informacion-icons *{
        margin-right: 1rem;
        transition: all 0.2s;
    }

    .informacion-container-contacto-informacion-icons *:hover{
        color: rgb(226, 226, 226);
        cursor: pointer;
    }

    .informacion-container-contacto *{
        display: block;
    }

    .informacion-container-contacto-form *{
        text-align: center;
        padding: 0 1rem 0 1rem;
        font-family: 'Poppins', sans-serif;
        border: none;
        margin: auto;
        height: 3rem;
        border-radius: .8rem;
        color: #ca3338;
    }

    .informacion-container-contacto-form *::placeholder{
        color: #ca3338;
        opacity: 0.7;
    }

    .informacion-container-contacto-form *:not(button) {
        text-align: center;
        width: 70%;
        height: 4rem;
        transition: all 0.4s;
    }

    .informacion-container-contacto-form *:not(.informacion-container-contacto-form-text):hover {
        background-color: rgb(226, 226, 226);
    }

    .informacion-container-contacto-form button{
        cursor: pointer;
        width: 40%;
        transition: all 0.4s;
    }

    .informacion-container-contacto-form-button{
        padding-top: 1rem;
    }

    .informacion-container-contacto-informacion-icons{
        display: flex;
    }

    .informacion-text{
        color: white;
    }

}